# this will be readded when we migrate to PDM
#name: lint
#
#on:
#  - push
#
#jobs:
#  pyright:
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        python-version: ["3.9", "3.10"]
#      fail-fast: false
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - name: Set up python ${{ matrix.python-version }}
#        uses: actions/setup-python@v4
#        with:
#          python-version: ${{ matrix.python-version }}
#
#      - name: Install dependencies
#        run: python -m pip install -r requirements/dev.txt .
#
#      - name: Get pyright version
#        run: echo "PYRIGHT_VERSION=$(python -c 'import pyright; print(pyright.__pyright_version__)')" >> $GITHUB_ENV
#
#      - name: Run pyright
#        uses: jakebailey/pyright-action@v1.2.0
#        with:
#          version: ${{ env.PYRIGHT_VERSION }}
#          python-version: ${{ matrix.python-version }}
#          python-platform: Linux
#          # only add comments for 3.9
#          no-comments: ${{ matrix.python-version != '3.9' }}
#          warnings: true
